 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;

 	transition: all 0.4s ease;

 	font-family: 'IBM Plex Sans', sans-serif;
 }

 html {
 	scroll-behavior: smooth;
 }


 /*======= GENERAL =======*/

 .banner,
 .about,
 .services,
 .projects,
 .gallery,
 footer {

 	padding: 30px;
 }

 img {
 	max-width: 100%
 }


 .column {
 	/*border: 1px solid black;*/
 	width: 31%;
 	margin-left: 1.16%;
 	margin-right: 1.16%;
 	float: left;
 }

 .column2 {
 	width: 20%;
 	float: left;

 }

 .clear:after {
 	content: "";
 	display: block;
 	clear: both;
 }

 /*======= TYPOGRAPHY =======*/
 /*
font-family: 'IBM Plex Sans', sans-serif;*/
 /*font-family: 'IBM Plex Serif', serif;*/

 h1 {
 	font-size: 3em;
 	color: #3E151F;
 	font-family: 'IBM Plex Serif', serif;
 	/*background-color: #60A561;*/
 }

 .bar:after {
 	content: "";
 	display: block;
 	width: inherit;
 	height: 5px;
 	background-color: #3E151F;
 	margin-bottom: 5px;
 	margin-top: 15px;
 }

 .bar2:after {
 	content: "";
 	display: block;
 	width: 100%;
 	height: 5px;
 	background-color: #3E151F;
 	margin-bottom: 5px;
 	margin-top: 5px;

 }

 h2 {
 	text-transform: uppercase;
 	color: white;

 }

 p {
 	color: #f2f2f2;
 }

 .projects h2 {
 	font-family: 'IBM Plex Serif', serif;
 	color: #3E151F;
 	margin-bottom: 15px;
 	letter-spacing: 0.1rem;
 }

 .projects p {
 	color: #3E151F;
 }

 .about h2,
 .services h2 {
	 color: #ECA72C;
	 max-width: 40%;
 }

 .services h2 {
 	 font-size: 3.4em;
 }

 .services p {
 	font-size: 0.8em;
 }

 .gallery h2{
 	color: #3E151F;
 }

 
 .gallery p {
	 color: white;
	 font-size: 0.8em;
 }

 .gallery h2 {
 	font-size: 4em;
 }

 .gallery h3 {
 	/* text-align: center; */
	 color: #ECA72C;
	 text-transform: uppercase;
 	/* background-color: #3E151F; */
 }




 /* /////////// end typography ////////// */




 /*======= NAV =======*/

 nav {
 	background-color: #721124;
 	height: 100%;
 	width: 200px;
 	position: fixed;


 }


 .logo {
 	height: 140px;
 	width: 140px;
 	/*background-color: darkgray;*/
 	margin: 0 auto;
 	border-radius: 50%;

 }

 .logo-container i {
 	font-size: 6em;
 	color: white;
 	margin-top: 70%;


 }

 .logo-container h1 {
 	color: white;
 	font-size: 1.6em;
 	margin-top: 10px;
 }

 .logo-container {
 	width: 140px;
 	margin: 20px auto;
 	text-align: center;
 }

 nav ul {
 	margin-top: 30px;

 }

 nav>ul>li {
 	list-style: none;
 	/*background-color: lightblue;*/
 	line-height: 20px;
 	/*default size is 16px. 16x3 = 40px*/
 	text-align: center;
 	width: 200px;
 	/*	padding-left: 20px;*/
 }


 nav>ul>li:hover {
 	background-color: #3A0812;


 }

 nav>ul>li>a {
 	display: block;
 	text-decoration: none;
 	font-size: 0.8rem;
 	text-transform: uppercase;
 	padding: 10px;
 	font-weight: 600;
 	/*transform: translateX(15%);*/

 	color: #f2f2f2;
 }

 nav>ul>li>a:focus {
 	color: #ECA72C;
 }

 /* nav > ul > li > a:hover {
	transform: translateX(25%);
} */



 /* /////////// end nav ////////// */



 /*======= MAIN =======*/
 main {
 	background-color: lightgray;
 	margin-left: 200px;

 }


 /* /////////// end main ////////// */



 /*======= BANNER =======*/

 .banner {
 	background-color: #fff;
 	height: 100vh;
 	position: relative;

 	/*	background: url(../images/bg-banner.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;*/
 }

 .banner::after {
 	content: "";

 	background: url(../images/bg-banner.jpg) center center no-repeat;
 	background-size: cover;
 	background-attachment: fixed;

 	opacity: 0.3;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	position: absolute;
 	z-index: 0;
 }

 .box {
 	border: 5px solid #3E151F;
 	text-align: center;
 	width: 40%;
 	padding: 40px;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -55%);
 	z-index: 10;

 }

 .box>p {
 	font-size: 1rem;
 	margin-top: 15px;
 	color: #3E151F;
 }


 /* /////////// end banner ////////// */



 /*======= ABOUT =======*/

 .about {
 	background-color: #3E151F;
 	min-height: 100vh;
 	padding-top: 9%;
 }

 /*.right {
	float: right;
}

.left {
	float: left;
}

.right img {
	max-width: 30%;
}
*/
 .about .left {
 	width: 55%;
 	float: left;

 }

 .text-content {
 	position: absolute;
 	z-index: 100;
 	width: inherit;
 	padding: 30px;
 	transform: translate(20px, 160px);
 }

 /*.about > .right {
	width: 40%;
	float: right;
}*/

 .about .right {
 	float: right;
 	max-width: 50%;
 	border: 3px solid #f2f2f2;

 	transform: translate(-60px, 30px);
 	/*background-color: yellow;*/
 }

 .about .right img {
 	display: block;
 	transform: translate(-15px, 15px);
 	z-index: 99;
 }

 .about span {
 	background-color: #3E151F;
 	line-height: 25px;
 }

 .about p:after {
 	content: "";
 	display: block;
 	width: 55%;
 	height: 3px;
 	background-color: #f2f2f2;
 	margin-top: 1.6em;
 }

 .about h2 {
 	/*float: left;*/
 	position: absolute;
 	font-size: 5em;
 	transform: translate(50px, 80px);
 	z-index: 100;
 }




 /*======= PROJECTS =======*/
 .projects {
 	background-color: #3E151F;
 	min-height: 100vh;
 	position: relative;

 	/*	background: url(../images/bg-projects.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;*/
 }

 .projects::after {
 	content: "";


 	background: url(../images/bg-projects.jpg) center center no-repeat;
 	background-size: cover;
 	background-attachment: fixed;

 	opacity: 0.5;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	position: absolute;
 	z-index: 0;
 }

 .box2 {
 	background-color: #f2f2f2;
 	text-align: center;
 	width: 40%;
 	padding: 40px;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -55%);
 	z-index: 10;

 }


 /*======= GALLERY =======*/
 .gallery {
 	background-color: #f2f2f2;
 	min-height: 100vh;
	 padding: initial 4%;
	padding-top: 2%;
 }

 .img-caption {
 	padding: 10px;
 }

 img[alt*="gallery"] {
	 width: 100%;
	 border-radius: 15px 0 0 0;

 }

 .column2 {
	width:23%;
	margin-left: 1%;
	margin-right: 1%;
 	border: 5px solid #3A0812;
	 background-color: #3A0812;
	 border-radius: 20px 0 20px 0;
 }


 /* .gallery > .column {
	width:23%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 20px;

	border: 3px solid #3E151F;
	border-radius: 20px 0 20px 0;
}



.img-holder {
	background-color: #D6ADB6;
	transform: translate(-10px,10px);
	border-radius: 20px 0 20px 0;
}

img[alt*="gallery"] {
	width: 100%;
	height: 150px;
	display: block;
	/*border: 1px solid black;*/

 .gallery h2 {
 	/*border: 1px solid black;*/
 	width: 100%;
 	text-align: center;
 	/*background-color: #3E151F;*/
 	margin: 0 auto 5% auto;
 }

 /*======= SERVICES =======*/
 .services {
 	background-color: #721124;
 	min-height: 90vh;
 	position: relative;
 	padding-top: 9%;

 }

 .services::after {
 	content: "";
 	background: url(../images/bg-contact.jpg) center center no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 	opacity: 0.2;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	position: absolute;
 	z-index: 0;
 }

 .services * {
 	z-index: 10;

 }

 .contact-container {
 	z-index: 10;

 }


 .services h2 {
 	/*float: left;*/
 	position: absolute;
 	transform: translate(50px, 50px);
 	z-index: 100;
 }

 .services p:after {
 	content: "";
 	display: block;
 	width: 75%;
 	height: 3px;
 	background-color: #f2f2f2;
 	margin-top: 5em;
 }

 /* 
img[alt*="service"] {
	border: 1px solid black;
	width: 60px;
	height: 60px;
	display: block;
	float: left;
}

img[alt*="service"]~p {
	overflow: hidden;
} */
 .form-content {
 	/* float: left; */
 	width: 45%;
 	padding: 30px;
 	transform: translate(20px, 130px);
 }


.form-content > * {
	position: absolute;
	z-index: 100;
}

 .form-container form * {
 	display: block;
 }

 .form-container {
 	width: 40%;
 	border: 3px solid white;
 	float: right;
 	margin-right: 10%;
 }

 .form-container input,
 .form-container label,
 .form-container textarea {
 	display: block;
 	width: 90%;
 	margin: 0 auto;
 }

 .form-container input,
 .form-container textarea {
 	/* height: 3em; */
 	border: 2px solid #3A0812;
 	background-color: #f2f2f2;
 }

 .form-container input {
	height: 25px;
 }

 .form-container label {
 	color: #f2f2f2;
 	margin-bottom: 5px;
 	margin-top: 10px;
 	font-size: 0.8em;
 }

 .form-container textarea {
 	height: 100px;
 	margin-bottom: 20px;
 }


 .form-container form {
 	width: 100%;
 	background-color: #3A0812;
 	transform: translate(-15px, 15px);
 	padding: 20px 0;
 	position: relative;
 }

 .form-container input[type="submit"] {
 	width: 30%;
 	margin: 0px auto;
 	height: 40px;
 	background-color: #ECA72C;
 	border: 3px solid #3A0812;
 	border-radius: 30px;
	 color: #3A0812;
	 font-size: 0.8rem;
	font-weight: 600;
	
 }

 .form-container input[type="submit"]:hover {
	 background-color: #721124;
	 color: #fff;
	 border: 3px solid white;
 }

 /*======= FOOTER =======*/
 footer {
 	background-color: #721124;
 	height: 10vh;
 	color: white;
 }

 img[alt*="social"] {

 	width: 20px;
 	height: 20px;
 	display: block;
 	float: left;
 	margin-right: 10px;
 }

 .contact {
 	float: right;
 }


/*===================== MEDIA QUERIES ================*/

/*Tablets Styles*/
@media only screen and (max-width: 960px) {
	nav {
		display: none;
	}

	main {
		margin-left: 0;
	}

	.banner,
	.about,
	.services,
	.projects,
	.gallery, footer {
    	padding: 20px;
	}

	.banner h1 {
		font-size: 3rem;
	}

	.banner p {
		font-size: 0.9rem;
	}

	.box {
		width: 70%;
 		padding: 20px;
	}

	.box2 {
		width: 80%;
	}

	.bar:after {
		margin-bottom: 5px;
 		margin-top: 10px;
	}

	.about h2 {
		font-size: 3em;
		transform: translate(35px, 80px);
	}

	.about p {
		font-size: 0.9rem;
	}

	.about .left {
		width: 70%;
	}

	.about .right {
		position: absolute;
		margin-top: 10%;
		left: 50%;
	}

	.text-content {
		padding: 0px;
		transform: translate(35px, 160px);
		position: relative;
		width: 80%;
	}

	.services h2 {
		font-size: 3em;
		transform: translate(0px, 0px);
		position: relative;	
	}

	.services .form-content {
		padding: 10px;
		width: 90%;
		transform: translate(0px, 0px)
	}
	.services p:after {
		margin-top: 1em;
	}

	.gallery h2 {
		font-size: 3em;
		margin-bottom: 20px;
	}

	.gallery .column2 {
		float: none;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.form-container {
		position: static;
		width: 90%;
		float: none;
		padding: 0;
		margin: 0 auto;
		border: none;
		margin-top: 25%;
	}

	 .form-container form {
	 	width: 100%;
	 	background-color: #3A0812;
	 	transform: translate(0px, 0px);
	 	position: relative;
 	}

 	.form-container form {
 		padding: 10px 0;
 	}

 	.form-container textarea {
	    height: 70px;
	    margin-bottom: 10px;
	}
}

/*Mobile Styles*/
@media only screen and (max-width: 400px) {

	.banner h1 {
		font-size: 2.3rem;
	}

	.banner p { 
		font-size: 0.9rem;
	}

	.box {
		width: 70%;
 		padding: 10px;
	}

	.bar:after {
		margin-bottom: 5px;
 		margin-top: 10px;
	}

	.text-content {
		width: 100%;
	}

	.about .left {
		width: 80%;
	}

	.about .right {
		position: absolute;
		margin-top: 2%;
		left: 50%;
	}
}